---
http_interactions:
- request:
    method: get
    uri: https://www.alza.cz/aeg-7000-prosteam-lfr73964cc-d7635493.htm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/problem+json
    body:
      encoding: UTF-8
      string: '{"code":"AUTH002","detail":"The apikey sent does not match the expected
        format. The apikey must match the following regular expression: /^[0-9][a-f]{40}$/","instance":"/v1","status":401,"title":"Invalid
        apikey provided (AUTH002)","type":"https://www.zenrows.com/documentation/api-error-codes#AUTH002"}'
  recorded_at: Fri, 15 Dec 2023 15:15:19 GMT
recorded_with: VCR 6.2.0
