.container {
  font-family: 'Monospace';
  width: 600px;
  margin: 20px auto 0;
  background: #FFF;
}

.success-response {
  white-space: pre-wrap;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error-response {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow-x: auto;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.group {
  position: relative;
  margin-bottom: 40px;
}

.button-div {
  width: 300px;
}

.field-inputs {
  font-size: 18px;
  width: 300px;
  height: 38px;
  border: none;
  border-bottom: 1px solid #757575;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus~label,input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.empty-field input {
  border-color: red;
  /* Change the border color for empty fields */
}

.empty-field label {
  color: red;
  /* Change the label color for empty fields */
}

.delete-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 16px;
  margin-left: -20px;
  /* Adjust the spacing as needed */
}

.delete-icon:hover {
  color: darkred;
}